@model HayvanSahiplendirmeSitesi.Models.Entity.TBLALICI
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KULLANICIID)
        @Html.TextBoxFor(m => m.KULLANICIID, new { @class = "form-control", @readonly = true })
        <br />
        @Html.LabelFor(m => m.KULLANICIAD)
        @Html.TextBoxFor(m => m.KULLANICIAD, new { @class = "form-control", @required = "required", @maxlength = "45" })
        <br />
        @Html.LabelFor(m => m.KULLANICISOYAD)
        @Html.TextBoxFor(m => m.KULLANICISOYAD, new { @class = "form-control", @required = "required", @maxlength = "45" })
        <br />
        @Html.LabelFor(m => m.KULLANICIEPOSTA)
        @Html.TextBoxFor(m => m.KULLANICIEPOSTA, new { @class = "form-control", @required = "required", @maxlength = "45" })
        <br />
        @Html.LabelFor(m => m.KULLANICITEL)
        @Html.TextBoxFor(m => m.KULLANICITEL, new { @class = "form-control", @required = "required", @maxlength = "11" })
        <br />
        @Html.LabelFor(m => m.KULLANICIADRES)
        @Html.TextAreaFor(m => m.KULLANICIADRES, new { @class = "form-control", @required = "required" })
        <br />
        @Html.LabelFor(m => m.KULLANICIALIM)
        @Html.TextAreaFor(m => m.KULLANICIALIM, new { @class = "form-control", @required = "required" })
    </div>
    <div>
        <button class="btn btn-warning">SAHİPLENEN KİŞİYİ GÜNCELLE</button>
    </div>
}
